<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplane.mapper.BoardMapper">

    <select id="read" resultType="com.simplane.domain.BoardVO">
        select * from sim_board where boardid = #{boardid}
    </select>

    <select id="readAll" resultType="com.simplane.domain.BoardVO">
        select * from sim_board where boardid > 0
    </select>



</mapper>